.banner-icons {
    display: none;
}

.banner-description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font: var(--fontBase);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.banner-menu {
    display: none;
}

@media screen and (min-width: 768px) {
    .banner {
        display: flex;
        justify-content: space-between;
    }

    .banner-icons {
        display: flex;
        flex-direction: column;
        gap: 22px;
        margin-inline-end: 22px;
    }

    .banner-description::before {
        content: "";
        width: 72px;
        height: 2px;
        background-color: var(--yellow);
        position: absolute;
        margin-block-start: -20px;
    }

    .banner-description {
        display: block;
        width: 950px;
        height: 500px;
        font: var(--headline1);
        font-weight: 500;
        margin-block-start: 20px;
    }

    .banner-description p {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .banner-menu {
        display: block;
    }

    .banner-menu ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;
        padding-right: 24px;
        border-right: 3px solid rgba(11, 29, 38, .5);
    }

    .banner-menu li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 60px;
        text-align: right;
    }

    .banner-menu a {
        text-decoration: none;
        font: var(--button);
        color: var(--darkgreen);
    }

    .banner-menu ul::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 74px;
        border-right: 3px solid var(--darkgreen);
    }
}