.footer {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.footer-logo p {
    color: rgb(255, 255, 255, .5);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.footer-info dt, .footer-about dt{
    color: var(--yellow);
    text-transform: uppercase;
    font: 24px/32px var(--fontBase);
    font-weight: 700;
}

.footer-info dl a, .footer-about dl a{
    color: var(--white);
    text-decoration: none;
}

.footer-about {
    margin-block-end: 88px;
}

@media screen and (min-width: 1024px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block-end: 120px;
    }    

    .footer-links {
        display: flex;
        flex-direction: row;
        gap: 158px;
    }
}

