.wrapper {
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    margin: 0;
    background-size: cover;
    margin-top: -100px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-inline-size: 1760px;
        padding-inline-end: 80px;
        padding-inline-start: 80px;
        margin: auto;
    }
}