.wrapper {
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    margin: 0;
    background-size: cover;
    margin-top: -48px;
}

@media screen and (min-width: 1024px) {
    .wrapper {
        margin-top: -450px;
        padding-inline-end: 80px;
        padding-inline-start: 80px;
    }
}

@media (min-width: 1600px) {
    .wrapper {
        padding-inline-end: 150px;
        padding-inline-start: 150px;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-inline-end: 299px;
        padding-inline-start: 299px;
    }
}